<h1 class="mb-5">Форма авторизации</h1>
<form (submit)="userLoginClick()">
  <input type="text" [(ngModel)]="login" name="login" placeholder="Введите login" class="form-control"><br>
  <input type="password" [(ngModel)]="password" name="password" placeholder="Введите пароль" class="form-control"><br>
  <button class="btn btn-success" type="submit">Войти в кабинет</button>
</form>